@font-face{
    font-family: "RockSalt";
    src: url("fonts\rocksalt.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

td{
    vertical-align: text-top;
    padding:0 0 2% 2%;
}

li{
    font-style: italic;
}

ul{
    list-style: circle;
}

th{
    text-align: center;
}

a{
    font-style: italic;
    color: black;
}
.nav-item{
    font-size:22px ;
    padding-left: 7%;
    color: gray;
}
.navbar-brand{
    font-size: 26px;

}
@media screen and (max-width: 1000px) {
    div.toggle {
      display: none;
    }
  }

  h4{
      margin: 2% 2% 40% 2%;
  }
